# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.venv/
venv/
env/

# macOS
.DS_Store

# Vector store / ingested data
db/

# Copyrighted source material — do not commit
custom_scripts/Inheritance_Book_1_-_Eragon.pdf
custom_scripts/Inheritance_Book_2_-_Eldest.pdf
custom_scripts/Inheritance Book 3 - Brisingr ).pdf
custom_scripts/Inheritance Book 4 - Inheritance.pdf

# IDE
.idea/
.vscode/

# Env files
.env
.env.local
